# Data Programming Assignment-Problem Set-2

### Student Name : Ashuthosh Martin Dasari

### Question 1

In [53]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

In [54]:
b()

In [55]:
b()

In [56]:
b()

In [57]:
a

6

### ANSWER: In the fuction above,a=0 is a global variable. since we are running b() first, hence the fuinction b() will run initially, it will enter. The b() fucntion and global variable a=0 is accessed. then function c(a) is called where a+2 is equal to 2, as a=0. Then thence the value of a=c(a) will give a=2. when i run b() again the value of b() turns to 4 and once done again it value turns to 6.

### Question 2

In [75]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print("File",file_name,"not found.")

In [76]:
file_length('Filelength.txt')

123

In [78]:
file_length('pydetox.py')

File pydetox.py not found.

### Question 3

In [17]:
class Marsupial(object):
    
    def __init__(self):
        self.lst = []
        
    def put_in_pouch(self, item):
        self.lst.append(item)
        
    def pouch_contents(self):
        return self.lst

In [18]:
class Kangaroo(Marsupial):
    'class kangaroo which inherits from marsupial class'
    
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x = x
        self.y = y
        
    def jump(self,dx,dy):
        self.x += dx
        self.y += dy
        
    def __str__(self):
        return 'I am a Kangaroo located at coordinates ({},{}) '.format(self.x,self.y)

In [19]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [20]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [21]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [22]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

### Question 4

In [26]:
def main():
    collatz(10)

def collatz(x):
    if x == 1:
        print(x)
    
    elif x % 2 == 0:
        print(x)
        x = x/2
        collatz(x)

    else:
        print(x)
        x = 3*x + 1
        collatz(x)

if __name__ == "__main__":
    main()

10
5.0
16.0
8.0
4.0
2.0
1.0

### Question 5

In [63]:
def binary(num):
    if num == 0:
        return '0'
    else:
        b = ''
        while num > 0:
            b = str((num % 2)) + b
            num //= 2
        return b

In [64]:
binary(0)

'0'

In [65]:
binary(1)

'1'

In [66]:
binary(3)

'11'

In [67]:
binary(9)

'1001'

### Question 6

In [101]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    
    headers = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']

    def handle_start_tag(self, tag, attrs):
        if tag in self.headers:
            print("Start tag: ", tag)

    def handle_end_tag(self, tag):
        if tag in self.headers:
            print("End tag: ", tag)

    def handle_data(self, data):
        print(data)

In [103]:
infile = open('w3cc.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

Change_me














W3C Mission


Principles

### Question 7

In [167]:
from urllib.parse import urljoin
from html.parser import HTMLParser
class Collector(HTMLParser):

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': 
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links

In [307]:
import re
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

visited = set() 

def webdir(url):
    global visited     
    visited.add(url)
    links = analyze(url)
    for link in links:
        if link not in visited:
            try:
                crawl2(link)
            except:
                pass

def analyze(url):
    print('\n\nVisiting', url)          
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks()        
    print('\n{:45} {:10}'.format('URL', 'link'))
    for link in urls:
        print('{:45} {:10}'.format(url, link))
    return urls

In [308]:
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html')

Visiting http://reed.cs.depaul.edu/lperkovic/test1.html

URL                                           link
http://reed.cs.depaul.edu/lperkovic/test1.html http://reed.cs.depaul.edu/lperkovic/test2.html
http://reed.cs.depaul.edu/lperkovic/test1.html http://reed.cs.depaul.edu/lperkovic/test3.html


Visiting http://reed.cs.depaul.edu/lperkovic/test2.html

URL                                           link
http://reed.cs.depaul.edu/lperkovic/test2.html http://reed.cs.depaul.edu/lperkovic/test4.html


Visiting http://reed.cs.depaul.edu/lperkovic/test4.html

URL                                           link


Visiting http://reed.cs.depaul.edu/lperkovic/test3.html

URL                                           link
http://reed.cs.depaul.edu/lperkovic/test3.html http://reed.cs.depaul.edu/lperkovic/test4.html

# Question 8

In [170]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\ashut\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in c:\users\ashut\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Collecting sqlparse
  Downloading sqlparse-0.4.2-py3-none-any.whl (42 kB)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\ashut\anaconda3\lib\site-packages (from ipython-sql) (1.4.22)
Requirement already satisfied: ipython>=1.0 in c:\users\ashut\anaconda3\lib\site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: matplotlib-inline in c:\users\ashut\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: traitlets>=4.2 in c:\users\ashut\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: backcall in c:\users\ashut\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\ashut\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: colorama in c:\users\ashut\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: decorator in c:\users\ashut\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: jedi>=0.16 in c:\users\ashut\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: pygments in c:\users\ashut\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\ashut\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: pickleshare in c:\users\ashut\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\ashut\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in c:\users\ashut\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ashut\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py): started
  Building wheel for prettytable (setup.py): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13714 sha256=d5205569317b3150b008cdc46c3d89483000a3ca3b92f49faa1f3db85c1d238e
  Stored in directory: c:\users\ashut\appdata\local\pip\cache\wheels\75\f7\28\77a076f1fa8cbeda61aca712815d04d7a32435f04a26a2dd7b
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.4.2

In [228]:
import sqlite3
con = sqlite3.connect('web3.db')
cur = con.cursor()
cur.execute("CREATE TABLE Temp (City text, Country text, Season text, Temperature int, Rainfall int)")
cur.execute("INSERT INTO Temp VALUES ('Mumbai', 'India', 'Winter' , 24.8 , 5.9 )")

In [ ]:
con.commit()
con.close()

In [250]:
con = sqlite3.connect('web3.db')
cur = con.cursor()
cur.execute('SELECT * FROM Temp')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [229]:
record2 = ('Mumbai', 'India', 'Spring', 28.4, 16.2 )
record3 = ('Mumbai', 'India', 'Summer', 27.9 ,1549.4 )
record4 = ('Mumbai', 'India', 'Fall', 27.6,346.0 )
record5 = ('London', 'United Kingdom', 'Winter', 4.2, 207.7 )
record6 = ('London', 'United Kingdom', 'Spring', 8.3 ,169.6 )
record7 = ('London', 'United Kingdom', 'Summer', 15.7, 157.0 )
record8 = ('London', 'United Kingdom', 'Fall', 10.4 ,218.5 )
record9 = ('Cairo', 'Egypt', 'Winter', 13.6 ,16.5 )
record10 = ('Cairo', 'Egypt', 'Spring', 20.7, 6.5 )
record11 = ('Cairo', 'Egypt', 'Summer', 27.7, 0.1) 
record12 = ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [240]:
# record = ('one.html','Chicago', 5)
cur.execute("INSERT INTO Temp VALUES (?, ?, ?, ?, ?)", record12)

#### Q.a) SELECT All TEMPERATURE DATA

In [254]:
cur.execute('SELECT Temperature FROM Temp')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

#### Q.b) All cities, without repetition

In [255]:
cur.execute('SELECT DISTINCT City FROM Temp')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

#### Q.c) All records for india

In [262]:
cur.execute('SELECT * FROM Temp WHERE Country = "India"')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346)]

#### Q.d) All the Fall records.

In [268]:
cur.execute('SELECT * FROM Temp WHERE Season = "Fall"')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

#### Q.e) All ther fall records

In [264]:
cur.execute('SELECT City, Country, Season FROM Temp WHERE Rainfall > 200 & Rainfall <400')
cur.fetchall()

[('Mumbai', 'India', 'Winter'),
 ('Mumbai', 'India', 'Spring'),
 ('Mumbai', 'India', 'Summer'),
 ('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Spring'),
 ('London', 'United Kingdom', 'Summer'),
 ('London', 'United Kingdom', 'Fall'),
 ('Cairo', 'Egypt', 'Winter'),
 ('Cairo', 'Egypt', 'Spring'),
 ('Cairo', 'Egypt', 'Summer'),
 ('Cairo', 'Egypt', 'Fall')]

#### Q.f) The city and country for which the average Fall temperature is above 20 
#### degrees, in increasing temperature order.

In [267]:
cur.execute('SELECT City, Country, Temperature FROM Temp WHERE Temperature > 20 ORDER BY Temperature ASC')
cur.fetchall()

[('Cairo', 'Egypt', 20.7),
 ('Cairo', 'Egypt', 22.2),
 ('Mumbai', 'India', 24.8),
 ('Mumbai', 'India', 27.6),
 ('Cairo', 'Egypt', 27.7),
 ('Mumbai', 'India', 27.9),
 ('Mumbai', 'India', 28.4)]

#### Q.g) The total annual rainfall for Cairo.

In [289]:
cur.execute('SELECT SUM(Rainfall), City FROM Temp WHERE City = "Cairo"')
cur.fetchall()

[(27.6, 'Cairo')]

#### Q.h) The total rainfall for each season

In [288]:
cur.execute('SELECT  Rainfall, Season FROM Temp')
cur.fetchall()

[(5.9, 'Winter'),
 (16.2, 'Spring'),
 (1549.4, 'Summer'),
 (346, 'Fall'),
 (207.7, 'Winter'),
 (169.6, 'Spring'),
 (157, 'Summer'),
 (218.5, 'Fall'),
 (16.5, 'Winter'),
 (6.5, 'Spring'),
 (0.1, 'Summer'),
 (4.5, 'Fall')]

## Question 9

In [291]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

In [292]:
words

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

### 9.a) change all words to upper case

In [297]:
upper_words = [each_word.upper() for each_word in words]
upper_words

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

### 9.b) change all words to upper case

In [298]:
lower_words = [each_word.lower() for each_word in words]
lower_words

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

### 9.c) Length of words in list

In [300]:
length_words = [len(each_word) for each_word in words]
length_words

[3, 5, 5, 3, 5, 4, 3, 4, 3]

### 9.e) all upper, lower, and length of words

In [302]:
Pattern_words = [[each_word.upper(), each_word.lower(), len(each_word) ] for each_word in words]
Pattern_words

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

### 9.f) the list of words in list words containing 4 or more characters.

In [304]:
result = [each_word for each_word in words if len(each_word) >=4]
result

['quick', 'brown', 'jumps', 'over', 'lazy']